@import url('https://fonts.googleapis.com/css?family=Ubuntu|Lora|Roboto+Mono:400,500');

h2 {
  font-family: "Roboto Mono", sans-serif;
  color: #4286f4;
}
#degrees, p {
  font-family: "Ubuntu", sans-serif;
}
#degrees {
  overflow-y: scroll;
  height: 500px;
}
